.doc-heading {
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding: 20px 0 40px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    text-transform: uppercase;
    float: left;
}
.doc-subheading {
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    padding: 10px 20px 20px;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 20px;
    text-transform: uppercase;
    float: left;
}
.subhead {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    padding: 5px 40px 10px;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 20px;
    text-transform: uppercase;
    float: left;
    margin-top: 10px;
}
.font-list {
    padding: 20px 0;
    li {
        margin-bottom: 10px;
    }
}
.typography {
    max-width: 700px;
    margin: 0 auto;
    font-family: $font-2;
    h1 {
        font-size: 3em;
        margin-bottom: 15px;
        font-weight: 700;
        margin-top: 8px;
    }
    h2 {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 8px;
    }
    h3 {
        font-size: 1.75em;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 8px;
    }
    h4 {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 8px;
    }
    h5 {
        font-size: 1.5em;
        margin-bottom: 15px;
        margin-top: 8px;
    }
    h6 {
        font-size: 1.25em;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 8px;
    }
    p.dropcap:first-letter {
        float: left;
        font-weight: 700;
        font-size: 3.25em;
        line-height: 46px;
        padding: 0 5px 0px 0;
    }
    p {
        font-size: 1em;
        line-height: 150%;
        margin-bottom: 15px;
    }
    ul, ol {
        padding-left: 20px;
        margin-bottom: 15px;
    }
    li {
        line-height: 150%;
    }
    ul li {
        list-style: disc;
    }
    ol li {
        list-style: decimal;
    }
    a {
        color: #00B6E2;
        &:hover {
            text-decoration: underline;
        }
    }
    sup {
        vertical-align: super;
        font-size: smaller;
    }
    sub {
        vertical-align: sub;
        font-size: smaller;
    }
    blockquote {
        padding-left: 20px;
        border-left: 10px solid #dadada;
        margin-bottom: 15px;
        display: block;
        cite {
            color: #4F4F4D;
            font-style: italic;
        }
    }
}
.colors {
    @include container;
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 20px;
    li {
        border-top: 100px solid;
        text-align: center;
        @include span(1 of $five_layout);
        &:nth-child(5n) {
            @include span(last 1 of $five_layout);
        }
    }
}
.layout {
    width: 100%;
    float: left;
    border-bottom: 1px dashed #cccccc;
    .wrap {
        @include container;
        margin: 0 auto;
    }
    .sixth {
        @include span(2);
        &:nth-child(6n) {
            @include span(last 2)
        }
    }
    .fifth {
        @include span(1 of $five_layout);
        margin-bottom: 20px;
        &:nth-child(5n) {
            @include span(last 1 of $five_layout)
        }
    }
    .fourth {
        @include span(3);
        margin-bottom: 20px;
        &:nth-child(4n) {
            @include span(last 3)
        }
    }
    .third {
        @include span(4);
        margin-bottom: 20px;
        &:nth-child(3n) {
            @include span(last 4)
        }
    }
    .half {
        @include span(6);
        margin-bottom: 20px;
        &:nth-child(2n) {
            @include span(last 6)
        }
    }
}