.icon-bike { background-image: url('png/bike.png'); background-repeat: no-repeat; }

.icon-bird-1 { background-image: url('png/bird-1.png'); background-repeat: no-repeat; }

.icon-bird-2 { background-image: url('png/bird-2.png'); background-repeat: no-repeat; }

.icon-city { background-image: url('png/city.png'); background-repeat: no-repeat; }

